<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="style.css" />
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
        </header>
        <div class="finished books">
            {% for book in books %}
                <div class="book-card">
                    <div class="left">
                        <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" />
                    </div>
                    <div class="right">
                        <h3>{{ book.title }}</h3>
                        <h4>{{ book.author }}</h4>
                        <p>Date finished: {{ book.date_finished }}</p>
                        {% if book.rating %}
                            <p>Rating: {{ book.rating }}/10 </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
