@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
    width: 960px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

header {
    margin: 40px 0 100px;
}

header h1 {
    text-align: center;
}

img {
    display: block;
    width: 200px;
}

.book-card {
    border-bottom: 1px solid #ececec;
    margin: 0 0 10px 0;
    overflow: auto;
    padding-bottom: 10px;
}



.left {
    float: left;
    margin: 0 20px 0 0;
}
